/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    scroll-behavior: smooth;
}

/* Faixa Superior de Contato */
.contact-bar {
    background-color: #5eaea2;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1001;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: none;
    margin-bottom: 0;
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-info .icon {
    font-size: 20px; /* Ajuste do tamanho dos ícones */
    margin-right: 8px;
}

.contact-text {
    margin-right: 15px;
}

/* Estilo dos ícones de redes sociais */
.social-icons {
    display: flex;
    align-items: center;
}

.social-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    font-size: 20px; /* Ajuste do tamanho do ícone */
    color: white; /* Cor dos ícones */
    transition: color 0.3s;
}

.social-icon:hover {
    color: #ccc; /* Cor dos ícones ao passar o mouse */
}

/* Estilo do botão de agendamento */
.schedule-button {
    margin-left: 20px;
}

.schedule-button button {
    background-color: #0073e6; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Cursor em forma de mão ao passar o mouse */
    transition: background-color 0.3s ease;
}

.schedule-button button:hover {
    background-color: #005bb5; /* Cor ao passar o mouse */
}

/* Estilo do menu de navegação */
header {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 35px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    padding: 10px 20px;
    height: auto;
}

/* Estilo do menu de navegação */
nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column; /* Imagem e nome da clínica em coluna */
    align-items: center; /* Centraliza horizontalmente */
}

.logo img {
    height: 70px;
    width: auto;
}

.clinic-name {
    font-size: 1.2rem;
    color: #0073e6; /* Cor do nome da clínica */
    margin-top: 5px; /* Espaçamento entre imagem e nome */
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-end;
    margin-left: auto;
}

nav ul li {
    padding: 10px 0;
}

nav ul li a {
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.1s ease, color 0.1s ease;
    white-space: nowrap;
}

nav ul li a.active {
    background-color: #0073e6;
    color: white;
}

nav ul li a:hover {
    background-color: #005bb5;
    color: white;
}

/* Estilo das seções */
section {
    padding: 80px 20px;
    min-height: 100vh;
    padding-top: 180px;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.section-content {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    max-width: 900px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#inicio .section-content {
    background-color: #f4f4f4;
}

#atendimento .section-content {
    background-color: #d0eafc;
}

#laboratorio .section-content {
    background-color: #d0fcd0;
}

#imagem .section-content {
    background-color: #fcfcd0;
}

#nutricao .section-content {
    background-color: #d0fcf8;
}

#procedimentos .section-content {
    background-color: #fcd0e4;
}

/* Estilo para cada seção com imagem e texto */
.section-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px; 
}

.section-content.invertido {
    flex-direction: row-reverse;
}

.imagem img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.texto {
    max-width: 550px;
}

.texto h1, .texto h2 {
    color: #0073e6;
    font-size: 2rem;
    margin-bottom: 15px;
    margin-top: 0;
}

.texto p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
}

.texto p:first-of-type {
    margin-bottom: 30px;
}

.texto ul {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 30px;
    padding-left: 0;
    list-style-type: disc;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.texto ul li {
    margin-bottom: 15px;
}

/* Estilo do modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1002;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 4% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

/* Estilos do botão de fechar */
.close-button {
    display: inline-block;
    background-color: #ccc;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: background-color 0.3s;
}

.close-button:hover {
    background-color: #aaa;
}

/* Estilo do botão enviar */
.send-button {
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.send-button:hover {
    background-color: #005bb5;
}

/* Estilo do título do modal */
.modal-title {
    font-weight: bold;
    color: #0073e6;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Estilo para os rótulos dos campos */
.form-group label {
    font-weight: bold;
    color: #777;
    margin-bottom: 5px;
}

/* Aumento do espaçamento nos parágrafos do modal */
.modal-content p {
    margin-bottom: 5px;
    line-height: 1.6;
}

/* Aumento do espaçamento nas caixas de texto */
input, textarea {
    margin-bottom: 5px;
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Novos estilos para o formulário do modal */
.form-group {
    margin-bottom: 5px;
}

.modal-content label {
    display: block;
    margin-bottom: 5px;
}

/* Estilo do modal de confirmação */
#confirmationModal .modal-content {
    text-align: center;
}

#confirmationModal .modal-content h2 {
    margin-bottom: 15px;
}

#confirmationModal .modal-content button {
    margin-top: 10px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#confirmationModal .modal-content button:hover {
    background-color: #005bb5;
}

/* Responsividade */
@media (max-width: 768px) {
    .section-content {
        flex-direction: column;
    }

    .imagem img {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    .logo img {
        height: 50px;
    }

    .texto ul {
        grid-template-columns: 1fr; /* Uma coluna em dispositivos menores */
    }
}
